@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "helpers/main.scss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.reset-btn-styles {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;

  &:focus {
    border: none;
    outline: none;
  }
}

.loader {
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.035);

  .spinner {
    position: relative;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
  }
}

.layout.layout--main {
  position: relative;
  min-height: 100vh;

  > .header {
    position: sticky;
    z-index: 10;
    top: 0;
    margin-bottom: 25px;
  }

  .layout__body {
    min-height: 250px;
    margin-bottom: 50px;
    flex-grow: 0;
  }

  > .footer {
    margin-top: auto;
  }
}