$modalZIndex: 1001;

$modalSMMaxWidth: 450px;
$modalMDMaxWidth: 650px;
$modalLGMaxWidth: 960px;

$modalBodyMaxHeight: 550px;

$modalBasePadding: 40px;

$modalCloseButtonFontSize: 25px;
$modalTitleFontSize: 18px;
