$maxXSResolution: 575px;
$minSMResolution: 576px;
$maxSMResolution: 767px;
$minMDResolution: 768px;
$maxMDResolution: 991px;
$minLGResolution: 992px;
$maxLGResolution: 1199px;
$minXLResolution: 1200px;

$maxContainerWidth: 1440px;
