.reset-btn-styles {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;

  &:focus {
    border: none;
    outline: none;
  }
}

.clip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: $colorGray;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $colorGray;
  }
}